<!-- isto é um comentario  -->
<!-- avisa ao navegador que isso é uma pagina html -->
<!DOCTYPE html>
<!-- DEFINE A LINGUAGEM  -->
<html lang="pt-BR">
    <!-- ÁREA CONFIGURAÇÃO DO ARQUIVO -->
    <head>
        <!-- DEFINE OS CARACTERES UTILIZADOS NA PÁGINA -->
        <meta charset="UTF-8">
        <!-- ZERA A ESCALA DE VISUALIZAÇÃO DA PÁGINA -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- DEFINE O TÍTULO DA PÁGINA -->
        <title>HOME</title>
        <!-- impostação do css -->
             <link rel= "stylesheet " href ="../css/style.css">
    </head>
    <!-- CONTEÚDO DA PÁGINA -->
    <body>
        <!-- CABEÇLHO DO SITE  -->
        <header>
            <!-- TAG DO MENU  -->
             <nav>
                 <!-- TAG DE LISTAS  -->
                <!-- LISTA NÃO ORDENADA -->
                <ul>
                  <!-- TAG DE ITENS DA LISTA -->
                   <!-- a  = Links -->
                    <li>
                       <a href ="./index.html"> HOME</a>
                    </li>

                    <li>
                        <a href = "./produtos.html" >PRODUTOS </a>
                    </li>

                    <li>
                       <a href = "./ocorrencia.html"> OCORRÊNCIAS </a>
                    </li>

                    <li>
                       <a href = "./usuarios.html"> USUÁRIOS </a>
                    </li>   
                </ul>
             </nav>
             
        </header>
        <!-- CONTEÚDO PRINCIPAL -->
        <main>
            <!-- FAMÍLIA H - TÍTULOS -->
           <h1 id ="titulo-principal"> BEM VINDO AO MEU SITE INCRÍVEL </h1>
           <h2 class ="subtitulo"> Aqui você será feliz , (ou será que não? ) </h2>

           <!-- TAG PARA TEXTO  -->
          <P id="texto-destaque"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est rem veniam libero voluptatibus doloremque repellat cupiditate asperiores eaque porro. </P>

          <!-- FAÇA UM NOVO TÍTULO E PARÁGRAFO -->
           <h2 >A LIVIA É ALGUEM , E VOCÊ SE INDENTIFICA COMO ALGUEM </h2>

           <p  id="texto-perigo"> O  dia ta rindo crima ensorarado .
            <br>
            Seu zé morreu e sofreu muito, foi triste ,eu sei ,mas ele morreu bem , ( EU ACHO ). </text>


            <!-- QUEBRA LINHA  -->

            <br>


            <p>O Solllllllllllllllllllll pediu a Lua em casamento e a Luaaaaaaaaaaaaaaaaaaaaaaaa disse não sei, não sei, me da um tempo e o Sol congelou seu coração .
           </P>

           <div id="lista-filme">
           <!-- LISTA DE FILMES TOP  -->
            <h2 >Lista de filmes mais top do Brasil e região </h2>
            <!-- LISTA ORDENADA  -->
             <ol >
                 <li> Rei Leão </li>
                 <li> Interestellar  </li>
                 <li> Vingadores - Guerra Infinita  </li>
                 <li> Guerreiras do Kpop</li>
            </ol>
</div>
            <!--LISTA DE MUSICAS  -->

            <ul id="lista-musica">  
                <!-- GENERO 1  -->
            <li>
                <h2>Lista de musicas mais top do mundo e região </h2>
                pop
                <ol >
                    <li>Billie Jean - Michael Jackson</li>
                    <li>You Belong With Me - Taylor Swift</li>
                    <li>Baby - Justin Bieber</li>
                   
                </ol>
            </li> 
            
                <!-- GENERO 2 -->
               <li>Sertanejo</li> 
                <ol>
                    <li>Boate Azul _ Bruno e Marrone</li>
                    <li>Um Degrau na escada - Chico Rey e Paána </li>
                    <li>Evidencias - Chitãozinho e Xoróró</li>
                   
                </ol>
               <!-- GENERO 3 -->
               <li>Pagode</li> 
                <ol>
                    <li>Me apaixonei pela pessoas errada </li>
                    <li>Sinais - Sorriso Maroto </li>
                    <li>Velocidade da Luz - Grupo Revelação </li>
                   
                </ol>
            </ul>
        </main>
        <!-- RODAPÉ DO SITE -->
        <footer>
            <strong> Todos os direiros reservados a mim. </strong>
        </footer>
    </body>
</html>
