<!-- isto é um comentario  -->
<!-- avisa ao navegador que isso é uma pagina html -->
<!DOCTYPE html>
<!-- DEFINE A LINGUAGEM  -->
<html lang="pt-BR">
    <!-- ÁREA CONFIGURAÇÃO DO ARQUIVO -->
    <head>
        <!-- DEFINE OS CARACTERES UTILIZADOS NA PÁGINA -->
        <meta charset="UTF-8">
        <!-- ZERA A ESCALA DE VISUALIZAÇÃO DA PÁGINA -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- DEFINE O TÍTULO DA PÁGINA -->
        <title>OCORRÊNCIAS</title>
    </head>
    <!-- CONTEÚDO DA PÁGINA -->
    <body>
        <!-- CABEÇLHO DO SITE  -->
        <header>
            <!-- TAG DO MENU  -->
             <nav>
                 <!-- TAG DE LISTAS  -->
              
                  <!-- TAG DE ITENS DA LISTA -->
                   <ul>
                  <!-- TAG DE ITENS DA LISTA -->
                   <!-- a  = Links -->
                    <li>
                       <a href ="./index.html"> HOME</a>
                    </li>

                    <li>
                        <a href = "./produtos.html" >PRODUTOS </a>
                    </li>

                    <li>
                       <a href = "./ocorrencia.html"> OCORRÊNCIAS </a>
                    </li>

                    <li>
                       <a href = "./usuarios.html"> USUÁRIOS </a>
                    </li>   
                </ul> 
                </ul>
             </nav>
        </header>
        <!-- CONTEÚDO PRINCIPAL -->
        <main>
            <h2>Ocorrências</h2>
            <!-- TABLE - CRIAÇÃO DE TABELA  -->
            <!-- BORDER - BORDER DE TABELA  -->
             
            <table border = "5">
                <!-- THEAD - CABEÇALHO DA TABELA -->
                <thead>
                    <tr>
                    <!-- TH - CRIA UMA COLUNA DENTRO DO THEAD  -->
                        <th> ID</th>
                        <th> USUÁRIO</th>
                        <th>PRODUTO ERRADO </th>
                        <th>PRODUTO CERTO  </th>
                        <th> DIFERENÇA</th>
                        

                    </tr>
                </thead>
                    <!-- TR - CRIA UMA LINHA DENTRO DO THEAD  -->
                    <tr>
                    <!-- TH - CRIA UMA COLUNA DENTRO DO THEAD  -->
                        <td> 2 </td>
                        <td> Gregory </td>
                        <td> Pitaya </td>
                        <td> Pitaya africana</td>
                        <td> - R$ 82 </td>
                        

                    </tr>
                    <tr>
                    <!-- TH - CRIA UMA COLUNA DENTRO DO THEAD  -->
                        <td> 3</td>
                        <td>Rafael</td>
                        <td> maçã fuji</td>
                        <td> maçã gala </td>
                        <td> + R$ 9  </td>
                        

                    </tr>
                

                <!-- TBODY - CORPO DA TABELA  -->
                <tbody>
                    <tr>
                        <!-- td*5 faz ele multiplicar por 5 que no caso é o numero que botei -->
                    <!-- TD - CRIA UMA COLUNA DENTRO DO TBODY -->
                        <td>4</td>
                        <!-- ROWSPAN - CONTROLA QUANTAS LINHAS AQUELA CELULA VAI OCUPAR  -->
                        <td rowspan ="2"> Marcela</td>
                        <td>limão</td>
                        <td>laranja</td>
                        <td>- R$ 7</td>
                    </tr>
                    <tr>
                        <!-- td*5 faz ele multiplicar por 5 que no caso é o numero que botei -->
                    <!-- TD - CRIA UMA COLUNA DENTRO DO TBODY -->
                        <td>4</td>
                        <!-- ROWSPAN - CONTROLA QUANTAS LINHAS AQUELA CELULA VAI OCUPAR  -->
                    
                         <!-- <td> Marcela </td> -->
                        <td>maçã</td>
                        <td>limão</td>
                        <td>- R$ 3 </td>
                    </tr>
                </tbody>

                <!-- TFOOT - FOOTER DA TABELA  -->
                <tfoot>
                    <!-- colspan - diz quantas colunas aquela va ocupar  -->
                    <td colspan="3"> TABELA ATUALIZA AS 24H00 </td>
                </tfoot>
            </table>
            <br>
            <br>
            <br>
            <table border = "5">
                <!-- THEAD - CABEÇALHO DA TABELA -->
                <thead>
                    <tr>
                    <!-- TH - CRIA UMA COLUNA DENTRO DO THEAD  -->
                        <th> ID</th>
                        <th> PERSONAGEM </th>
                        <th>NOME DO ATOR </th>
                        <th>IDADE DO ATOR </th>
                        <th> ANO QUE NASCEU </th>
                        

                    </tr>
                </thead>
                    <!-- TR - CRIA UMA LINHA DENTRO DO THEAD  -->
                    <tr>
                    <!-- TH - CRIA UMA COLUNA DENTRO DO THEAD  -->
                        <td> 1 </td>
                        <td> Maria Joaquina </td>
                        <td> Larissa Manoela  </td>
                        <td> 25 anos</td>
                        <td> 2000 </td>
                        

                    </tr>
                    <tr>
                    <!-- TH - CRIA UMA COLUNA DENTRO DO THEAD  -->
                        <td> 2</td>
                        <td>Cirilo</td>
                        <td> Jean Paulo</td>
                        <td> 23 anos</td>
                        <td> 2003  </td>
                        

                    </tr>
                

                <!-- TBODY - CORPO DA TABELA  -->
                <tbody>
                    <tr>
                        <!-- td*5 faz ele multiplicar por 5 que no caso é o numero que botei -->
                    <!-- TD - CRIA UMA COLUNA DENTRO DO TBODY -->
                        <td>3</td>
                        <!-- ROWSPAN - CONTROLA QUANTAS LINHAS AQUELA CELULA VAI OCUPAR  -->
                        <td> Diretora Olivia </td>
                        <td>Noemi Gerbelli </td>
                        <td> 68 anos</td>
                        <td>1953-2021 </td>
                    </tr>
                    <tr>
                        <!-- td*5 faz ele multiplicar por 5 que no caso é o numero que botei -->
                    <!-- TD - CRIA UMA COLUNA DENTRO DO TBODY -->
                        <td>4</td>
                        <td>Firmino Gonçalves</td>
                        <td>Fernando Benini</td>
                        <td>83 anos</td>
                        <td>1942</td>
                    </tr>
                </tbody>

                <!-- TFOOT - FOOTER DA TABELA  -->
                <tfoot>
                    <!-- colspan - diz quantas colunas aquela va ocupar  -->
                    <td colspan="3"> TABELA ATUALIZA EM 2027 </td>
                </tfoot>
            </table>
        </main>
        <!-- RODAPÉ DO SITE -->
        <footer>
            <strong> Todos os direiros reservados a mim. </strong>
        </footer>
    </body>
</html>