<!-- isto é um comentario  -->
<!-- avisa ao navegador que isso é uma pagina html -->
<!DOCTYPE html>
<!-- DEFINE A LINGUAGEM  -->
<html lang="pt-BR">
    <!-- ÁREA CONFIGURAÇÃO DO ARQUIVO -->
    <head>
        <!-- DEFINE OS CARACTERES UTILIZADOS NA PÁGINA -->
        <meta charset="UTF-8">
        <!-- ZERA A ESCALA DE VISUALIZAÇÃO DA PÁGINA -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- DEFINE O TÍTULO DA PÁGINA -->
        <title>OCORRÊNCIAS</title>
    </head>
    <!-- CONTEÚDO DA PÁGINA -->
    <body>
        <!-- CABEÇLHO DO SITE  -->
        <header>
            <!-- TAG DO MENU  -->
             <nav>
                 <!-- TAG DE LISTAS  -->
              
                  <!-- TAG DE ITENS DA LISTA -->
                   <ul>
                  <!-- TAG DE ITENS DA LISTA -->
                   <!-- a  = Links -->
                    <li>
                       <a href ="./index.html"> HOME</a>
                    </li>

                    <li>
                        <a href = "./produtos.html" >PRODUTOS </a>
                    </li>

                    <li>
                       <a href = "./ocorrencia.html"> OCORRÊNCIAS </a>
                    </li>

                    <li>
                       <a href = "./usuarios.html"> USUÁRIOS </a>
                    </li>   
                </ul> 
                </ul>
             </nav>
        </header>
        <!-- CONTEÚDO PRINCIPAL -->
        <main>
   
        </main>
        <!-- RODAPÉ DO SITE -->
        <footer>
            <strong> Todos os direiros reservados a mim. </strong>
        </footer>
    </body>
</html>