<!-- isto é um comentario  -->
<!-- avisa ao navegador que isso é uma pagina html -->
<!doctype html>
<!-- DEFINE A LINGUAGEM  -->
<html lang="pt-BR">
  <!-- ÁREA CONFIGURAÇÃO DO ARQUIVO -->
  <head>
    <!-- DEFINE OS CARACTERES UTILIZADOS NA PÁGINA -->
    <meta charset="UTF-8" />
    <!-- ZERA A ESCALA DE VISUALIZAÇÃO DA PÁGINA -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- DEFINE O TÍTULO DA PÁGINA -->
    <title>PRODUTOS</title>
     <!-- impostação do css -->
             <link rel= "stylesheet " href ="../css/style.css">
  </head>
  <!-- CONTEÚDO DA PÁGINA -->
  <body>
    <!-- CABEÇLHO DO SITE  -->
    <header>
      <!-- TAG DO MENU  -->
      <nav>
        <!-- TAG DE LISTAS  -->
        <!-- LISTA NÃO ORDENADA -->

        <ul>
          <!-- TAG DE ITENS DA LISTA -->
          <!-- a  = Links -->
          <li>
            <a href="./index.html"> HOME</a>
          </li>

          <li>
            <a href="./produtos.html">PRODUTOS </a>
          </li>

          <li>
            <a href="./ocorrencia.html"> OCORRÊNCIAS </a>
          </li>

          <li>
            <a href="./usuarios.html"> USUÁRIOS </a>
          </li>
        </ul>
      </nav>
      
    </header>
    <!-- CONTEÚDO PRINCIPAL -->
    <main>
        <h2 class ="subtitulo">Produtos</h2>
        <!-- CRIAÇÃO DO CARD -->
        <!--DIV - CRIA UMA DIVISÃO OU BLOCO -->
        <div>
          <!-- IMG - TAG PARA COLOCAR IMAGEM  -->
          <!-- SRC - FONTE DA IMAGEM -->
          <img
            src="../img/shampoo-ELSEVE.jpg"
            alt=""
            height="200PX"
            width="230PX" />
            <button class = "botao"> Comprar </button>
           <!-- NOME DO PRODUTO  -->
          <h3 > Shampoo ELSEVE </h3>
          <!-- DEscrição  -->
           <p> o mior shampoo</p>
           <!-- Botão de compra  -->
           
        </div>
        <br>
        <br>
       
       
        <div>

          <!-- IMG - TAG PARA COLOCAR IMAGEM  -->
          <!-- SRC - FONTE DA IMAGEM -->
          <img
            src="../img/condicionador-ELSEVE.webp"
            alt=""
            height="200PX"
            width="230PX" />
            <button class = "botao"> Comprar </button>
           <!-- NOME DO PRODUTO  -->
          <h3 > Condicionador ELSEVE </h3>
          <!-- DEscrição  -->
           <p> o mior Condicionador</p>
           <!-- Botão de compra  -->
            
        </div>


        <div>
          <!-- IMG - TAG PARA COLOCAR IMAGEM  -->
          <!-- SRC - FONTE DA IMAGEM -->
          <img
            src="../img/creme-ELSEVE.webp"
            alt=""
            height="200PX"
            width="230PX" />
            <button class = "botao"> Comprar </button>
           <!-- NOME DO PRODUTO  -->
          <h3 > Creme ELSEVE </h3>
          <!-- DEscrição  -->
           <p> o mior Creme</p>
           <!-- Botão de compra  -->
          
        </div>


<!-- ""../ VOLTA UMA PASTA - "./ "PEGA O ARQUIVO IRMÃO  -->
        <div>
          <!-- IMG - TAG PARA COLOCAR IMAGEM  -->
          <!-- SRC - FONTE DA IMAGEM -->
          <img
            src="../img/serum-ELSEVE.webp"
            alt=""
            height="200PX"
            width="230PX" />
             <button class = "botao"> Comprar </button>
           <!-- NOME DO PRODUTO  -->
          <h3 > serum capilar ELSEVE </h3>
          <!-- DEscrição  -->
           <p> o mior serum </p>
           <!-- Botão de compra  -->
           
        </div>
        
      </main>
    <!-- RODAPÉ DO SITE -->
    <footer>
              <strong> Todos os direiros reservados a mim. </strong>

      
    </footer>
  </body>
</html>
